- title 'Liste des Classes Thérapeutiques'

= content_for :subtitle do
  = link_to 'Création', new_classe_therapeutique_path,
    class: 'btn btn-warning' if can?(:create, ClasseTherapeutique)

%table.table.table-condensed.table-striped
  - @classe_therapeutiques.each do |classe_therapeutique|
    - if !classe_therapeutique.dcis.with_valid_fiches.empty? || can?(:create, ClasseTherapeutique)
      %tr
        %td= link_to h(classe_therapeutique.name), classe_therapeutique
        - if current_user
          %td= pluralize(classe_therapeutique.classifications.size, 'dci')
          %td
            .pull-right= actions_buttons(classe_therapeutique)
