- if dci.fiches.valide.size > 0 or (can? :create, Fiche)
  %li
    = link_to h(dci.name.humanize), dci
    = "(#{dci.commercial_names})" unless dci.commercial_names.blank?
    - unless dci.classes_therapeutiques.blank?
      %em
        = dci.classes_therapeutiques

%li
  %ol
    - fiches = can?(:create, Fiche) ? dci.fiches : dci.fiches.valide
    - for fiche in fiches
      - if fiche.distinction_id?
        %li
          = link_to "#{fiche.distinction.name.humanize} : #{fiche.distinction_name.humanize}", [fiche.dci, fiche]
          = fiche.state.humanize if can? :create, Fiche
