- if can?(:show, dci)
  %li
    %ul.inline
      %li{:style => "width: 12em;"}= link_to h(dci.name.humanize), dci
      %li{:style => "width: 15em;"}= "(#{dci.commercial_names})" unless dci.commercial_names.blank?
      - unless dci.classes_therapeutiques.blank?
        %li{:style => "width: 22em;"}
          %em= dci.classes_therapeutiques

%li.clear

- if dci.fiches.size > 1
  %li
    %ol
      - for fiche in dci.fiches
        - if fiche.distinction_id? && can?(:show, fiche)
          %li
            = link_to "#{fiche.distinction.name.humanize} : #{fiche.distinction_name.humanize}", [fiche.dci, fiche]
            = fiche.state.humanize if can?(:create, Fiche)
