- if (dci.fiches.valide.size != 0 || can?(:create, Fiche))
  %tr{:class => "#{cycle('even', 'odd')}"}
    %td= link_to h(dci.name.humanize), dci
    %td= "#{dci.commercial_names}" unless dci.commercial_names.blank?
    - unless dci.classes_therapeutiques.blank?
      %td
        %em= dci.classes_therapeutiques

  - if (dci.fiches.valide.size > 1 || can?(:create, Fiche))
    %tr{:class => "#{cycle('even', 'odd')}"}
      %td
      %td{:style => "text-align: right;"} Fiches :
      %td
        %table
          - for fiche in dci.fiches
            - if fiche.distinction_id && can?(:read, fiche)
              %tr
                %td.sub
                  = link_to_if(can?(:create, Fiche),
                    fiche.full_distinction, [fiche.dci, fiche])
                - if can?(:create, Fiche)
                  %td.sub.small{:class => "#{fiche.state}"}= fiche.state.humanize
