- if can?(:show, dci)
  %tr{:class => "#{cycle('even', 'odd')}"}
    %td= link_to h(dci.name.humanize), dci
    %td= "(#{dci.commercial_names})" unless dci.commercial_names.blank?
    - unless dci.classes_therapeutiques.blank?
      %td
        %em= dci.classes_therapeutiques

- if (dci.fiches.size > 1 && can?(:create, Fiche))
  %tr{:class => "#{cycle('even', 'odd')}"}
    %td &nbsp;
    %td
      %table
        - for fiche in dci.fiches
          - if fiche.distinction_id? && can?(:show, fiche)
            %tr
              %td.sub= link_to fiche.full_distinction, [fiche.dci, fiche]
              - if can?(:create, Fiche)
                %td.sub.small{:class => "#{fiche.state}"}= fiche.state.humanize
