- if dci.fiches.validated.count > 0 or (permitted_to? :create, :fiches)
  %li
    = link_to h(dci.name.humanize), dci
    = "(#{dci.commercial_names})" unless dci.commercial_names.blank?
    - unless dci.classes_therapeutiques.blank?
      %em
        = dci.classes_therapeutiques

- else
  Aucune DCI n'existe avec des fiches validées.

%li
  %ol
    - for fiche in dci.fiches.validated
      - if fiche.distinction_id?
        %li
          = link_to "#{fiche.distinction.name.humanize} : #{fiche.distinction_name.humanize}", [fiche.dci, fiche]
