= content_tag_for :tr, dci do
  %td= link_to dci.name, dci
  %td
    - links_to_associations(dci, "specialites")
  %td
    - links_to_associations(dci, "classe_therapeutiques")
  %td
    = dci.fiches.size
    = "(" + pluralize(dci.fiches.non_valide.size, 'non validée') + ")" unless dci.fiches.non_valide.size == 0
  %td
    .btn-group
      = link_to("<i class='icon-pencil icon-white'></i>".html_safe, edit_dci_path(dci), class: "btn btn-warning", id: "edit_dci_#{dci.id}_link") if can? :update, dci
      = link_to("<i class='icon-remove icon-white'></i>".html_safe, dci, method: :delete, data: {confirm: "Etes-vous sûr ?"}, class: "btn btn-danger") if can? :destroy, dci
