%li
  = link_to h(dci.name.humanize), dci
  = "(#{dci.commercial_names})" unless dci.commercial_names.blank?
  - unless dci.classes_therapeutiques.blank?
    %em= dci.classes_therapeutiques
  - if can?(:create, Fiche)
    = link_to_function "+", toggle_div("liste_fiches_#{dci.id}")
%div{:id => "liste_fiches_#{dci.id}", :style => "display:none;"}
  %li
    %ol
      - if !dci.fiches.valide.blank?
        %li
          %strong= "Fiches validées (#{dci.fiches.valide.count})"
          %ol
            - for fiche in dci.fiches.valide
              - if fiche.distinction_id?
                %li= link_to "#{fiche.distinction.name.humanize} : #{fiche.distinction_name.humanize}", [fiche.dci, fiche]
      - else
        %li
          %strong= "Pas de fiches validées"

      - if !dci.fiches.non_valide.blank?
        %li
          %strong= "Fiches non validées (#{dci.fiches.non_valide.count})"
          %ol
            - for fiche in dci.fiches.non_valide
              - if fiche.distinction_id?
                %li
                  = link_to "#{fiche.distinction.name.humanize} : #{fiche.distinction_name.humanize}", [fiche.dci, fiche]
                  = fiche.state.humanize
      - else
        %li
          %strong= "Pas de fiches non validées"
