= simple_form_for dci, html: { role: 'form' } do |f|
  %p
    %b
      Attention: tant que les champs "Spécialités" ou "Classes thérapeutiques"
      sont vides la DCI n'est pas prise en compte par le moteur de recherche
  = f.input :name
  = f.input :commercial_names, label: "Spécialités"
  = f.association :classe_therapeutiques, label: "Classes thérapeutiques",
    hint: "Ce champ est multi-choix, maintenir enfoncée la touche Ctrl pour sélectionner plusieurs classes",
    collection: @classe_therapeutiques
  .pull-right
    = link_to 'Annuler', :back, 'data-confirm': t('confirm'), class: 'btn btn-link'
    = f.button :submit
