-# encoding: utf-8
- form_for @dci do |f|
  = f.error_messages
  %p
    = f.label :name, "Nom"
    %br
    = f.text_field :name
  %p
    = f.label :commercial_names, "Spécialités"
    %br
    = f.text_field :commercial_names
  %p
    = f.submit "Enregistrer"
