- title "Dcis"

%table
  %tr
    %th Name
  - for dci in @dcis
    %tr
      %td= h dci.name
      %td= link_to 'Show', dci
      %td= link_to 'Edit', edit_dci_path(dci)
      %td= link_to 'Destroy', dci, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Dci", new_dci_path
