- title "Liste des DCI"

%table
  %tr
    %th Nom
    %th Fiche
    %th Validation

  - for dci in @dcis
    %tr
      %td= link_to(h(dci.name.humanize), dci)
    - if dci.fiches.count > 1
      - for fiche in dci.fiches
        %tr
          %td
          %td= "#{fiche.distinction.name} : #{fiche.distinction_name}" if fiche.distinction_id?
          %td= fiche.state

%p= link_to "Nouvelle DCI", new_dci_path if permitted_to? :new, @dci
