- title 'Liste complète des DCIs'

= content_for :subtitle do
  = link_to "Nouvelle DCI", new_dci_path,
    class: 'btn btn-warning' if can?(:create, Dci)

- if @dcis.empty?
  Aucune DCI dans la base.
- else
  %table.table.table-striped
    %thead
      %tr
        %th DCI
        %th Spécialité(s)
        %th Classe(s) Thérapeutique(s)
        %th Fiche(s)
        %th &nbsp;
    %tbody
      - @dcis.each do |dci|
        %tr
          %td= link_to dci.name.humanize, dci
          %td= links_to_associations(dci, 'specialites')
          %td= links_to_associations(dci, 'classe_therapeutiques')
          %td
            = dci.fiches.size
            = "(" + pluralize(dci.fiches.non_valide.size, 'non validée') + ")" unless dci.fiches.non_valide.size == 0
          %td
            .pull_right= actions_buttons(dci)
