- title "Recherche de produits"

- if @dcis.empty?
  %h2= "Aucun résultat pour #{params[:search][:name_like]}."

- else
  %h2= pluralize(@dcis.count, 'résultat')
  - @dcis.each do |dci|
    - if permitted_to? :create, :fiches
      %p= link_to h(dci.name), dci
    - else
      %p= link_to(h(dci.name), dci) if dci.fiches.validated.count > 0
    - if dci.fiches.count > 1 && (permitted_to? :create, :fiches)
      %td
        %table
          - for fiche in dci.fiches
            %tr.even
              %td
              %td= "#{fiche.distinction.name} : #{fiche.distinction_name}" if fiche.distinction_id?

%p= link_to "Nouvelle DCI", new_dci_path if permitted_to? :create, @dci
