- title "#{@dci.name.humanize}"

- unless @dci.commercial_names.blank?
  %h2.float_left= "(#{@dci.commercial_names})"

%ul.dci_nav
  - if permitted_to? :edit, @dci
    %li= link_to "Modifier cette DCI", edit_dci_path(@dci)
  - if permitted_to? :delete, @dci
    %li= link_to "Détruire cette DCI", @dci, :confirm => 'Etes-vous sûr ?', :method => :delete

.clear

- if !@dci.fiches.blank?
  #fiches
    = render :partial => @dci.fiches
- else
  %p Aucune fiche d'évaluation n'a été crée pour cette DCI.

%p
  = link_to "Rajouter une fiche", new_dci_fiche_path(@dci) if permitted_to? :create, @dci.fiches
