- if !@dci.commercial_names.blank?
  - title "#{@dci.name.humanize} (#{@dci.commercial_names})"
- else
  - title "#{@dci.name.humanize}"

- if !@dci.fiches.blank?
  #fiches
    = render :partial => @dci.fiches
- else
  %p Aucune fiche d'évaluation n'a été crée pour cette DCI.

%p
  = link_to "Nouvelle Fiche", new_dci_fiche_path(@dci) if permitted_to? :create, @dci.fiches

%p
  - if permitted_to? :edit, @dci
    = link_to "Modifier cette DCI", edit_dci_path(@dci)
    |
  - if permitted_to? :delete, @dci
    = link_to "Détruire cette DCI", @dci, :confirm => 'Etes-vous sûr ?', :method => :delete
    |
  = link_to "Retour à la liste des DCI", dcis_path
