- title @dci.name.humanize, actions_buttons(@dci)

= render 'shared/associations_links', dci: @dci

#fiches
  - if @dci.fiches.valide.any?
    = render @dci.fiches.valide
  - else
    - if can?(:create, Fiche)
      %br/
      %h2 Aucune fiche validée pour cette DCI
  - if can?(:create, Fiche) && !@dci.fiches.non_valide.empty?
    %p= link_to_toggle_div "Montrer/Cacher les fiches non validées",
      "fiches_non_validees"
    #fiches_non_validees{:style => "display: none;"}
      = render @dci.fiches.non_valide

- if can? :create, Fiche
  %p
    = link_to "Rajouter une fiche",
      new_dci_fiche_path(@dci), class: 'btn btn-warning'
