- title @dci.name.humanize, false

%h1.dci_title= @dci.name.humanize

%ul.edit_actions
  - if can? :edit, @dci
    %li= link_to "Modifier cette DCI", edit_dci_path(@dci)
  - if can? :delete, @dci
    %li= link_to "Détruire cette DCI", @dci, :confirm => 'Etes-vous sûr ?', :method => :delete

.clear

- %w(specialites classe_therapeutiques).each do |association|
  - links_to_associations(@dci, association)

#fiches
  - if !@dci.fiches.valide.empty?
    = render @dci.fiches.valide
  - else
    - if can?(:create, Fiche)
      %br/
      %h2= "Aucune fiche validée pour cette DCI"
  - if can?(:create, Fiche) && !@dci.fiches.non_valide.empty?
    %p= link_to_toggle_div "Montrer/Cacher les fiches non validées", "fiches_non_validees"
    #fiches_non_validees{:style => "display: none;"}
      = render @dci.fiches.non_valide

%p= link_to "Rajouter une fiche", new_dci_fiche_path(@dci) if can? :create, Fiche
