- title @dci.name.humanize, false

%h1.dci_title= @dci.name.humanize

%ul.edit_actions
  - if can? :edit, @dci
    %li= link_to "Modifier cette DCI", edit_dci_path(@dci)
  - if can? :delete, @dci
    %li= link_to "Détruire cette DCI", @dci, :confirm => 'Etes-vous sûr ?', :method => :delete

.clear

%h2= "Spécialités : #{@dci.commercial_names}" unless @dci.commercial_names.blank?
%h2= "Classes thérapeutiques : #{@dci.classes_therapeutiques}" unless @dci.classes_therapeutiques.blank?

- if fiches_valide?
  %p= link_to "Fiches non validées", :fiches_valide => 0 unless @dci.fiches.non_valide.empty?
- else
  %p= link_to "Fiches validées", :fiches_valide => 1 unless @dci.fiches.valide.empty?

- if !@fiches.empty?
  #fiches
    = render @fiches
- else
  %p Pas de fiches

%p
  = link_to "Rajouter une fiche", new_dci_fiche_path(@dci) if can? :create, Fiche
