- title @dci.name.humanize, false

%h1.dci_title= @dci.name.humanize

%ul.edit_actions
  - if can? :edit, @dci
    %li= link_to "Modifier cette DCI", edit_dci_path(@dci)
  - if can? :delete, @dci
    %li= link_to "Détruire cette DCI", @dci, :confirm => 'Etes-vous sûr ?', :method => :delete

.clear

%h2= "Spécialités : #{@dci.commercial_names}" unless @dci.commercial_names.blank?
%h2= "Classes thérapeutiques : #{@dci.classes_therapeutiques}" unless @dci.classes_therapeutiques.blank?

- if !@dci.fiches.blank?
  #fiches
    = render :partial => @dci.fiches
- else
  %p Aucune fiche d'évaluation n'a été crée pour cette DCI.

%p
  = link_to "Rajouter une fiche", new_dci_fiche_path(@dci) if can? :create, Fiche
