= simple_form_for source, html: {class: "form-horizontal"} do |f|
  = f.input :name, :label => "Nom"
  = f.input :nature, :label => "Type"
  = f.input :url
  .form-actions
    = f.button :submit, "Sauvegarder"
