- title "Sources"

%table.table.table-striped
  %tr
    %th Name
    %th Type
    %th Url
    %th &nbsp;
  - for source in @sources
    %tr
      %td= source.name
      %td= source.nature
      %td= source.url
      %td
        .pull-right= actions_buttons(source)

%p= link_to "Nouvelle Source", new_source_path, class: 'btn btn-primary' if can? :create, Source
