- title "Sources"

%table.table.table-condensed.table-striped.table-bordered
  %thead
    %tr
      %th Nom
      %th Type
      %th Url
      %th Actions
  %tbody
    - for source in @sources
      %tr
        %td= source.name
        %td= source.nature
        %td= source.url
        %td= actions_buttons(source)

%p= link_to "Nouvelle Source", new_source_path if can? :create, Source
