- title "Sources"

%table
  %tr
    %th Name
    %th Type
    %th Url
  - for source in @sources
    %tr
      %td= h source.name
      %td= h source.nature
      %td= h source.url
      - if permitted_to? :update, :sources
        %td= link_to 'Modifier', edit_source_path(source)
      - if permitted_to? :delete, :sources
        %td= link_to 'Détruire', source, :confirm => 'Are you sure?', :method => :delete

%p= link_to "Nouvelle Source", new_source_path if permitted_to? :create, :sources
