= simple_form_for decision, html: { role: 'form' } do |f|
  = f.input :name
  = f.input :abbr
  = f.input :description
  .pull-right
    = link_to 'Annuler', :back, 'data-confirm': t('confirm'),
      class: 'btn btn-link'
    = f.button :submit
