= simple_form_for decision, html: {class: "form-horizontal"} do |f|
  = f.input :name, label: "Nom"
  = f.input :abbr, label: "Abbréviation"
  = f.input :description, input_html: {rows: 3}
  .form-actions
    = f.button :submit, "Sauvegarder"
