<% title "Produits" %>

<% unless params[:search].nil? %>
  <h2><%= @produits.count %> résultats</h2>
<% end %>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <%= render :partial => @produits %>
</table>

<p><%= link_to "Nouveau produit", new_produit_path if permitted_to? :new, @produit %></p>
<p><%= link_to "Produits non validés", nonvalidated_produits_path if permitted_to? :nonvalidated, :produits %></p>
<p><%= link_to "Accueil", root_path %></p>
