- title "Produits (#{@produits.count})"

-#TODO add filters for authenticated users (by validation state)
- if @produits.count > 0
  %table
    %tr
      %th= order @search, :by => :name, :as => "Nom"
      %th Décision
      %th= "Validation" if permitted_to? :update, :produits
    = render :partial => @produits
- else
  %h2 Aucun produit n'a été trouvé
%p= link_to "Nouveau produit", new_produit_path if permitted_to? :new, @produit
%p= link_to "Accueil", root_path
