<% title "Produits" %>

<% if @produits.count > 0 %>
  <h2><%= pluralize(@produits.count, 'résultat') %> </h2>
  <table>
    <tr>
      <th><%= order @search, :by => :name, :as => "Nom" %></th>
      <th><%= order @search, :by => :state, :as => "Validation" %></th>
    </tr>
    <%= render :partial => @produits %>
  </table>
<% else %>
  <h2>Aucun produit n'a été trouvé</h2>
<% end %>

<p><%= link_to "Nouveau produit", new_produit_path if permitted_to? :new, @produit %></p>
<p><%= link_to "Accueil", root_path %></p>
