- title "Recherche de produits"

- if @produits.empty?
  %h2 Aucun résultat.
- else
  %h2
    = pluralize(@produits.count, 'résultat')

  - if has_role? :admin
    %p
      %small
        = "Paramètres de recherche : "
        = params[:search].to_param

  %table
    %tr
      %th Nom
    = render :partial => @produits
%p= link_to "Nouveau produit", new_produit_path if permitted_to? :new, @produit
%p= link_to "Accueil", root_path
