<% title "Produit" %>

<p>
  <strong>Nom:</strong>
  <%=h @produit.name %>
</p>

<p>
  <strong>Validation:</strong> 
  <%= h @produit.validation %>
</p>

<p>
  <%= link_to "Modifier", edit_produit_path(@produit) if permitted_to? :edit, @produit %>
</p>
<p>
  <%= link_to "Détruire", @produit, :confirm => 'Etes-vous sûr ?', :method => :delete if permitted_to? :destroy, @produit %>
</p>
<% unless @produit.validation == 2 %>
  <p>
    <%= link_to "Valider", validate_produit_path(@produit), :method => :put if permitted_to? :validate, @produit %>
  </p>
<% end %>
<p>
  <%= link_to "Retour à la liste", produits_path %>
</p>
<p>
  <%= link_to "Accueil", root_path %>
</p>
