<% title "Produit" %>

<p>
  <strong>Nom :</strong>
  <%=h @produit.name %>
</p>

<p>
  <strong>Validation :</strong> 
  <%= h @produit.state %>
</p>

<p>
  <strong>Décision :</strong> 
  <%= h @produit.decision.name %>
</p>

<p>
  <%= link_to "Modifier", edit_produit_path(@produit) if permitted_to? :edit, @produit %>
</p>
<p>
  <%= link_to "Détruire", @produit, :confirm => 'Etes-vous sûr ?', :method => :delete if permitted_to? :destroy, @produit %>
</p>
<% if @produit.state == "brouillon" && permitted_to?(:initialiser) %>
  <p>
    <%= link_to "Initialiser", initialiser_produit_path(@produit), :method => :put %>
  </p>
<% elsif (@produit.state == "a_valider" || @produit.state == "gele") && permitted_to?(:valider, @produit) %>
  <p>
    <%= link_to "Valider", valider_produit_path(@produit), :method => :put %>
  </p>
<% elsif @produit.state == "valide" && permitted_to?(:geler, @produit) %>
  <p>
    <%= link_to "Geler", geler_produit_path(@produit), :method => :put %>
  </p>
<% end %>

<p>
  <%= link_to "Retour à la liste", produits_path %>
</p>
<p>
  <%= link_to "Accueil", root_path %>
</p>
