<% title "Produit" %>

<p>
  <strong>Name:</strong>
  <%=h @produit.name %>
</p>

<p>
  <%= link_to "Edit", edit_produit_path(@produit) if permitted_to? :edit, @produit %> |
    <%= link_to "Destroy", @produit, :confirm => 'Are you sure?', :method => :delete if permitted_to? :destroy, @produit %> |
  <% unless @produit.validation == 1 %>
    <%= link_to "Valider", validate_produit_path(@produit), :method => :put if permitted_to? :validate, @produit %> |
  <% end %>
  <%= link_to "Produits", produits_path %> |
  <%= link_to "Produits non validés", nonvalidated_produits_path if permitted_to? :nonvalidated, :produits %>
</p>
