<% title "Produit" %>

<p>
  <strong>Nom:</strong>
  <%=h @produit.name %>
</p>

<p>
  <strong>Validation:</strong> 
  <%= h @produit.validation %>
</p>

<p>
  <%= link_to "Modifier", edit_produit_path(@produit) if permitted_to? :edit, @produit %>
</p>
<p>
  <%= link_to "Détruire", @produit, :confirm => 'Etes-vous sûr ?', :method => :delete if permitted_to? :destroy, @produit %>
</p>
<% if @produit.validation < 2 && permitted_to?(:validate, @produit) %>
  <p>
    <%= link_to "Valider", validate_produit_path(@produit), :method => :put %>
  </p>
<% elsif @produit.validation == 2 && permitted_to?(:freeze, @produit) %>
  <p>
    <%= link_to "Geler", freeze_produit_path(@produit), :method => :put %>
  </p>
<%elsif @produit.validation == 3 && permitted_to?(:thaw, @produit)%>
  <p>
    <%= link_to "Revalider", thaw_produit_path(@produit), :method => :put %>
  </p>
<% end %>

<p>
  <%= link_to "Retour à la liste", produits_path %>
</p>
<p>
  <%= link_to "Accueil", root_path %>
</p>
