- title @produit.name.humanize

- validation_state_and_date

%p<
  %strong Décision :
  = " #{@produit.decision.name}" rescue " A renseigner"

#produit_actions
  #modify
    %p= link_to "Modifier", edit_produit_path(@produit) if permitted_to? :edit, @produit
    %p= link_to "Détruire", @produit, :confirm => 'Etes-vous sûr ?', :method => :delete if permitted_to? :destroy, @produit

  #validate
    - validate_actions_buttons

#nav_bar
  %p
    = link_to "Retour à la liste", produits_path
    = " | "
    = link_to "Accueil", root_path
