- title @produit.name.humanize

#produit_actions
  #modify
    %table
      %tr
        %td
          - if permitted_to? :edit, @produit
            - link_to edit_produit_path(@produit) do
              %img{:src => "/images/Edit.png", :width => "32", :alt => "Modifier"}
        %td
          - if permitted_to? :destroy, @produit
            - link_to(@produit, {:confirm => 'Etes-vous sûr ?', :method => :delete}) do
              %img{:src => "/images/Delete.png", :width => "32", :alt => "Détruire"}
      %tr
        %td
          %small="Modifier" if permitted_to? :edit, @produit
        %td
          %small="Détruire" if permitted_to? :destroy, @produit

- validation_state_and_actions

%p
  %strong Décision :
  = " #{@produit.decision.name}" rescue " A renseigner"

- if permitted_to?(:initialiser, :produits)
  .comment
    %strong Commentaire :
    = @produit.try(:commentaire)


#nav_bar
  %p
    = link_to "Retour à la liste", produits_path
    = " | "
    = link_to "Accueil", root_path
