- title "Produit"

%p<
  %strong Nom :
  = " #{@produit.name}"

:erb
  <%= validation %>

-#TODO demander à AG si elle préfère avoir ça:
  %p<
    %strong Validation :
    = " #{@produit.state.humanize}" rescue ""
  - if @produit.state == "valide"
    %p<
      %strong Date de MAJ :
      = " " + l(@produit.validation_date) rescue " A renseigner"
%p<
  %strong Décision :
  = " #{@produit.decision.name}" rescue " A renseigner"

#produit_actions
  #modify
    %p= link_to "Modifier", edit_produit_path(@produit) if permitted_to? :edit, @produit
    %p= link_to "Détruire", @produit, :confirm => 'Etes-vous sûr ?', :method => :delete if permitted_to? :destroy, @produit

  #validate
    :erb
      <%= validate_actions %>

#nav_bar
  %p
    = link_to "Retour à la liste", produits_path
    = " | "
    = link_to "Accueil", root_path
