<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, "Nom d'utilisateur" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmer le mot de passe" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% roles = permitted_to?(:destroy, @user) ? Role.all : Role.all[1..-1] %>
  <% for role in roles -%>
    <div>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%= label_tag "#{role.name}" %>
    </div>
  <% end -%>
  <p><%= f.submit "Sauvegarder" %></p>
<% end %>
