<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Password confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% unless Role.all.blank? -%>
    <% for role in Role.all -%>
      <div>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
        <%= label_tag "#{role.name}" %>
      </div>
    <% end -%>
  <% end -%>
  <p><%= f.submit "Submit" %></p>
<% end %>
