= simple_form_for user, html: {class: "form-horizontal"} do |f|
  = f.input :username, label: "Nom d'utilisateur"
  = f.input :email
  = f.input :password, label: (f.object.new_record? ? "Mot de passe" : "Changer le mot de passe")
  = f.input :password_confirmation, label: "Confirmer le mot de passe"
  = f.input :role, as: :select, collection: User::ROLES
  .form-actions
    = f.button :submit, 'Sauvegarder'
