- form_for @user do |f|
  = f.error_messages
  %ol(class="formList")
  %li
    = f.label :username, "Nom d'utilisateur"
    = f.text_field :username
  %li
    = f.label :email
    = f.text_field :email
  %li
    = f.label :password, f.object.new_record? ? "Mot de passe" : "Changer le mot de passe"
    = f.password_field :password
  %li
    = f.label :password_confirmation, "Confirmer le mot de passe"
    = f.password_field :password_confirmation
  %h3 Roles
  :erb
    <%= roles_checkbox %>
  %br/
  = f.submit "Sauvegarder"
