<% title "Utilisateurs" %>

<% @users.each do |u| %>
<table>
  <tr>
    <td><%= u.username %></td>
    <td>(<%= u.role_names %>)</td>
    <td><%= link_to "Modifier", edit_user_path(u) %>
  </tr>
</table>
<% end %>
<p><%= link_to "Nouvel utilisateur", new_user_path %></p>
<p><%= link_to "Accueil", root_path %></p>
