- title "Utilisateurs"

%table
  - @users.each do |u|
    %tr
      %td= u.username
      %td= u.admin? ? "admin" : u.role
      %td= link_to "Modifier", edit_user_path(u)
      %td= link_to "Détruire", u, :confirm => 'Etes-vous sûrs ?', :method => :delete if (can? :destroy, u) and ( current_user != u )
%p= link_to "Nouvel utilisateur", new_user_path
