<% title "Galacsi" %>

<% form_tag produits_path, :method => :get do -%>
  <%= label_tag :search, "Nom du produit : " %>
  <%= text_field_tag "search[name_like]", params[:search][:name_like] %>
  <%= submit_tag "Rechercher", :name => nil %>
<% end -%>
<p>
  <%= link_to "Produits", produits_path %>
</p>
<p>
  <%= link_to "Valider un produit", nonvalidated_produits_path if permitted_to? :nonvalidated, :produits%>
</p>
<p>
  <%= link_to "Utilisateurs", users_path if permitted_to? :index, :users %>
</p>
