- title "Bienvenue!"

.search
  - form_tag search_dcis_path, :method => :get do
    = label_tag :search, "Rechercher un médicament par DCI : "
    = text_field_tag "search[name_like]", params[:search][:name_like]
    = submit_tag "Go", :name => nil, :class => "search_submit"

%p
  = "Attention vous avez : " + pluralize(@expirees.count, 'fiche') + " à vérifier"
%ul
  - @expirees.each do |fiche|
    %li
      = link_to "#{fiche.dci.name.humanize} (#{fiche.distinction_type} : #{fiche.distinction})", dci_fiche_path(fiche.dci, fiche)
