- title "Bienvenue!"

.search
  - form_tag search_dcis_path, :method => :get do
    = label_tag :search, "Rechercher un médicament par DCI : "
    = text_field_tag "search[name_like]", params[:search][:name_like]
    = submit_tag "Go", :name => nil, :class => "search_submit"

- unless @expired_fiches.count < 1
  %p
    = "Attention vous avez : " + pluralize(@expired_fiches.count, 'fiche') + " a vérifier"
  %ul
    - @expired_fiches.each do |fiche|
      %li
        - if fiche.distinction_id?
          = link_to "#{fiche.dci.name.humanize} (#{fiche.distinction.name} : #{fiche.distinction_name})", dci_fiche_path(fiche.dci, fiche)
        - else
          = link_to "#{fiche.dci.name.humanize}", dci_fiche_path(fiche.dci, fiche)
