- title "Galacsi"

- form_tag search_produits_path, :method => :get do
  = label_tag :search, "Nom du produit : "
  = text_field_tag "search[name_like]", params[:search][:name_like]
  = submit_tag "Rechercher", :name => nil

-#TODO move these links to a nav_bar partial
#nav_bar
  %p= link_to "Liste des produits", produits_path
  %p= link_to "Liste des utilisateurs", users_path if permitted_to? :read, :users
