- title "Bienvenue!"

%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id purus felis. Vestibulum dapibu

%p Cras id ullamcorper turpis. Duis vitae sem arcu. Suspendisse potenti. Donec ipsum eros, rhoncus
 
- if @expired_fiches.count > 0 && can?(:valider, Fiche)
  %p= "Attention vous avez : #{pluralize(@expired_fiches.count, 'fiche')} à vérifier"
  %ul
    - @expired_fiches.each do |fiche|
      %li
        - if fiche.distinction_id?
          = link_to "#{fiche.dci.name.humanize} (#{fiche.distinction.name} : #{fiche.distinction_name})", dci_fiche_path(fiche.dci, fiche)
        - else
          = link_to "#{fiche.dci.name.humanize}", dci_fiche_path(fiche.dci, fiche)
