= simple_form_for page, html: { role: 'form' }  do |f|
  = f.input :permalink
  = f.input :title
  = f.input :content, input_html: { rows: 10 }
  .pull-right
    = link_to 'Annuler', :back, class: 'btn btn-link',
      'data-confirm': t('confirm')
    = f.button :submit
