%nav.navbar.navbar-custom.navbar-static-top
  .container
    .navbar-header
      = button_tag type: 'button', class: 'navbar-toggle collapsed',
        data: { toggle: 'collapse', target: '#galacsi-navbar-collapse'} do
        %span.sr-only Menu
        - 3.times do
          %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        GalacSI
        = fa_icon 'home'

    .collapse.navbar-collapse#galacsi-navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Recherche", search_path
        %li= link_to "Classes", classe_therapeutiques_path
        %li= link_to "Spécialités", specialites_path
        - if can? :read, User
          %li.dropdown
            = link_to "#", class: 'dropdown-toggle', 'data-toggle': 'dropdown',
              role: 'button', 'aria-expanded': false do
              Admin
              %span.caret

            %ul.dropdown-menu{role: 'menu'}
              %li= link_to "DCI", dcis_path
              %li= link_to "Décisions", decisions_path
              %li= link_to "Demandes", demandes_path
              %li= link_to "Distinctions", distinctions_path
              %li= link_to "Fiches", fiches_path
              %li= link_to "Utilisateurs", users_path
              %li= link_to "Sources", sources_path
              %li= link_to "Pages", pages_path


        %li.dropdown
          = link_to "#", class: "dropdown-toggle", 'data-toggle': 'dropdown',
            role: 'button', 'aria-expanded': false do
            A propos
            %span.caret
          %ul.dropdown-menu{role: 'menu'}
            - @pages_without_home.each do |page|
              %li= link_to page.title_or_permalink, home_path(page.permalink)
      %p.navbar-text.navbar-right
        - if current_user
          %b= current_user.username
          \-
          = link_to 'Déconnexion', destroy_user_session_path,
            method: :delete, class: 'navbar-link'
        - else
          = link_to 'Connexion', new_user_session_path, class: 'navbar-link'
