= semantic_form_for @demande do |f|
  = f.error_messages
  = f.inputs do
    = f.input :nature,
      :label => "Nature de la demande",
      :as => :select,
      :collection => Demande::NATURES
    = f.input :name, :label => "Libellé à créer"
    = f.input :contexte,
      :label => "Contexte de la création",
      :as => :string,
      :hint => "numéro d'appel, distinction d'une fiche à créer (voie, indication, etc.), etc."
    = f.input :demandeur, :label => "Votre nom"
    = raw recaptcha_tags(:display => {:theme => "white", :lang => "fr"})
    = f.commit_button "Enregistrer"
