= simple_form_for demande, html: { role: 'form' } do |f|
  = f.input :nature, label: "Nature de la demande", collection: Demande::NATURES
  = f.input :name, label: "Libéllé à créer"
  = f.input :contexte, label: "Contexte de la création",
    hint: "numéro d'appel, distinction d'une fiche à créer (voie, indication, etc.), etc."
  = f.input :demandeur, label: "Votre nom"
  %h5 Prouvez-nous que vous n'êtes pas un robot spammeur :
  = raw recaptcha_tags(display: { theme: "white", lang: "fr" })
  .pull-right
    = link_to 'Annuler', :back, 'data-confirm': t('confirm'), class: 'btn btn-link'
    = f.button :submit
