- title 'Liste des demandes de création'

- if @demandes.empty?
  %h2 La liste des demandes est vide.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Type
        %th Libéllé
        %th Contexte
        %th Demandeur
        %th &nbsp;
    - @demandes.each do |demande|
      %tr
        %td= demande.nature
        %td= demande.name
        %td= demande.contexte
        %td= demande.demandeur
        %td
          .pull-right= actions_buttons(demande)
