<% title "Log in" %>

<% form_for @user_session do |f| -%>
  <%= f.error_messages %>
  <ol class="formList">
    <li>
      <%= f.label :username, "Utilisateur" %>
      <%= f.text_field :username %>
    </li>
    <li>
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.submit "Se connecter" %>
    </li>
  </ol>
<% end -%>
