- if can?(:read, fiche)
  %div{class: ['fiche', 'panel', (fiche.state == 'valide') ? 'panel-primary' : 'panel-danger']}
    = fiche_header(fiche)

    .panel-body
      %h3 Résumé

      - unless fiche.passage_lait.blank?
        %h4.inline Passage dans le lait :
        %p.inline= fiche.passage_lait

      - if fiche.risque_accumulation?
        %h4 Risque d'accumulation dans le lait
      - if fiche.risque_dim_lactation?
        %p.retrait
          %b Risque théorique de diminution de la lactation

      %h4 Recul :
      = raw textilize fiche.ei
      - if fiche.ei_theoriques?
        %p.retrait
          %b Risque théorique :
        .retrait= raw textilize fiche.ei_theoriques

      - if fiche.conditions?
        %h4 Allaitement possible si :
        = raw textilize fiche.conditions

      - if fiche.surveillance?
        %h4 Surveillance :
        = raw textilize fiche.surveillance
        %p.surveillance
          La poursuite du traitement ou de l'allaitement doit être reconsidérée et le CRPV prévenu si l'un des troubles cités est observé

      - unless fiche.alternatives.blank?
        %h4 Alternatives :
        %ul.inline
          - fiche.alternatives.each do |a|
            - link = !a.commercial_names.blank? ? "#{a.name} (#{a.commercial_names})" : "#{a.name}"
            %li
              = link_to link, dci_path(a)

      - unless fiche.arg_autre.blank?
        %h4 Autres argumentaires :
        = raw textilize fiche.arg_autre

      - if fiche.suivi == "oui"
        %h4.inline.alert Attention :
        %p.inline.alert
          pour cette molécule un suivi sera réalisé par le CRPV, il est donc impératif de demander les coordonnées du demandeur ou
          %u mieux de la patiente concernée.

      = content_tag :div, class: 'panel-group',
        id: "fiche-#{fiche.id}-accordion",
        role: 'tablist', 'aria-multiselectable': true do
        .panel.panel-default
          .panel-heading{id: "argumentaire-heading-#{fiche.id}"}
            %h4.panel-title
              = link_to 'Informations détaillées',
                "#argumentaire_#{fiche.id}", 'aria-expanded': "false",
                'aria-controls': "argumentaire_#{fiche.id}",
                data: { toggle: 'collapse', parent: "fiche-#{fiche.id}-accordion" }
          = content_tag :div, class: 'panel-collapse collapse argumentaire',
            id: "argumentaire_#{fiche.id}", role: 'tabpanel',
            'aria-labelledby': "argumentaire-heading-#{fiche.id}" do
            %table.table.table-condensed
              %tr
                %th Biodisponibilité
                %td= fiche.biodisponibilite unless fiche.biodisponibilite.blank?
                %th Vd
                %td= fiche.vol_dist unless fiche.vol_dist.blank?
                %th Liaison aux PP
                %td= fiche.liaison_pp unless fiche.liaison_pp.blank?
                %th T1/2
                %td{style: 'width: 7%'}= fiche.thalf unless fiche.thalf.blank?
              %tr
                %th Métabolites actifs
                %td= fiche.metabolites_actifs? ? "Oui" : "Non" unless fiche.metabolites_actifs.blank?
                %th Rapport lait/plasma
                %td= fiche.rapport_lp unless fiche.rapport_lp.blank?
                %th Pic lacté
                %td= fiche.pic_lacte unless fiche.pic_lacte.blank?
                %th &nbsp;
                %th &nbsp;
              %tr
                %th Dose estimée ingérée par l'enfant
                %td
                  - unless fiche.dose_par_rapport_dmap.blank? && fiche.dose_par_rapport_dp.blank?
                    %ul.list-unstyled
                      %li= "#{fiche.dose_par_rapport_dmap} de la DMAP" if fiche.dose_par_rapport_dmap?
                      - if fiche.dose_par_rapport_dp?
                        %li= "#{fiche.dose_par_rapport_dp} de la posologie pédiatrique"
                %th Posologie pédiatrique
                %td
                  - unless fiche.poso_pedia_dose.blank? and fiche.poso_pedia_des.blank?
                    = fiche.poso_pedia_dose
                    = "à partir de #{fiche.poso_pedia_des}" if fiche.poso_pedia_des?
                %th &nbsp;
                %th &nbsp;
                %th &nbsp;
                %th &nbsp;

        - unless fiche.sources.empty? && fiche.articles.blank?
          .panel.panel-default
            .panel-heading{id: "sources-heading-#{fiche.id}"}
              %h4.panel-title
                = link_to 'Sources', "#sources_#{fiche.id}",
                  'aria-expanded': 'false', 'aria-controls': "sources_#{fiche.id}",
                  data: { toggle: 'collapse', parent: "fiche-#{fiche.id}-accordion" }

            = content_tag :div, class: 'panel-collapse collapse sources',
              id: "sources_#{fiche.id}", role: 'tabpanel',
              'aria-labelledby': "sources-heading-#{fiche.id}" do
              .panel-body
                - unless fiche.sources.empty?
                  %h4 Sources :
                  .retrait
                    = fiche.sources.map(&:name).join(', ')
                - unless fiche.articles.blank?
                  %h4 Articles :
                  .retrait
                    = raw textilize fiche.articles

    .panel-footer
      - if can? :create, Fiche
        .validation
          %table.table
            %thead
              %tr
                %th Etat de validation :
                %th Dernière MAJ :
                %th Crée par :
            %tbody
              %tr
                %td
                  = label_for_state(fiche)
                  = change_state_for(fiche, current_user)

                %td
                  - if fiche.published_at.nil?
                    %small.text-muted fiche non publiée
                  - else
                    = l(fiche.published_at)
                  %br
                  - if fiche.expired?
                    %b Fiche expirée !
                    - if can?(:edit, Fiche)
                      = form_for [fiche.dci, fiche],
                        html: { class: 'state_form' } do |f|
                        = f.label :published_at_event, '=> '
                        = f.hidden_field :published_at_event, value: 'publish'
                        = f.submit "Revalider", class: 'btn btn-xs btn-default'
                  %br
                  - if fiche.revalider_le
                    %b À revalider le :
                    = l(fiche.revalider_le)

                %td
                  = "#{fiche.createur} (#{fiche.user.role})" if fiche.user_id?

      .pull-right= actions_buttons(fiche)
      .clearfix
