-if permitted_to? :read, fiche
  .fiche
    .fiche_header
      - if fiche.distinction_id?
        %p.float_left
          %b
            = fiche.distinction.name.humanize
            %span.distinction= " : #{fiche.distinction_name.humanize}"

      - unless fiche.decision.blank?
        %p.float_right
          %b
            = "Décision allaitement : "
            %span.decision{ :id  => fiche.decision.abbr}= h fiche.decision.name

    .clear

    - if fiche.de_choix?
      %p
        %span.safe Molécule de choix pendant l'allaitement

    .resume
      %h3 Résumé

      %p.retrait
        %b
          Passage dans le lait :
        = fiche.passage_lait
        - if fiche.risque_accumulation?
          = "- risque d'accumulation dans le lait"
        - if fiche.risque_dim_lactation?
          = "- risque théorique de diminution de la lactation"

      %h4 Recul :
      %p.retrait= textilize_without_paragraph(fiche.ei)
      - if fiche.ei_theoriques?
        %p.retrait
          = "Risque théorique :"
          = textilize_without_paragraph(fiche.ei_theoriques)

      - if fiche.conditions?
        %p.retrait
          %b Allaitement possible si :
          = fiche.conditions

      - if fiche.surveillance?
        %p.retrait
          %b Surveillance :
          = fiche.surveillance
        %p.surveillance
          La poursuite du traitement ou de l'allaitement doit être reconsidéré et le CRPV prévenu si l'un des troubles cités est observé

      - unless fiche.alternatives.blank?
        %p.retrait
          %b Alternatives :
        %ul
          - fiche.alternatives.each do |a|
            - link = !a.commercial_names.blank? ? "#{a.name} (#{a.commercial_names})" : "#{a.name}"
            %li
              = link_to link, dci_path(a)

      - if fiche.suivi == "oui"
        %p.alert
          %b Attention :
          pour cette molécule un suivi sera réalisé par le CRPV, il est donc impératif de demander les coordonnées du demandeur ou
          %u mieux de la patiente concernée.
    
    %p= link_to_function "Montrer les informations détaillées", toggle_div("argumentaire_#{fiche.id}")
    
    %div{:class => "argumentaire", :id => "argumentaire_#{fiche.id}", :style => "display: none;"}
      %h3 Données détaillées
      %table
        %tr
          - unless fiche.biodisponibilite.blank?
            %th Biodisponibilité (PO)
            %td= fiche.biodisponibilite
          - unless fiche.vol_dist.blank?
            %th Vd
            %td= fiche.vol_dist
          - unless fiche.liaison_pp.blank?
            %th Liaison aux PP
            %td= fiche.liaison_pp
          - unless fiche.thalf.blank?
            %th T1/2
            %td= fiche.thalf
        %tr
          - unless fiche.metabolites_actifs.blank?
            %th Métabolites actifs
            %td= fiche.metabolites_actifs? ? "Oui" : "Non"
          - unless fiche.rapport_lp.blank?
            %th Rapport lait/plasma
            %td= fiche.rapport_lp
          - unless fiche.pic_lacte.blank?
            %th Pic lacté
            %td= fiche.pic_lacte
        -# fusion the 2 following %tr
        %tr
          - unless fiche.dose_par_rapport_dmap.blank? and fiche.dose_par_rapport_dp.blank?
            %th Dose estimée ingérée par l'enfant
            %td
              = "#{fiche.dose_par_rapport_dmap} de la DMAP" if fiche.dose_par_rapport_dmap?
              - if fiche.dose_par_rapport_dp?
                %br/
                = "#{fiche.dose_par_rapport_dp} de la posologie pédiatrique"
        %tr
          - unless fiche.poso_pedia_dose.blank? and fiche.poso_pedia_des.blank?
            %th Posologie pédiatrique
            %td
              = fiche.poso_pedia_dose
              = "a partir de #{fiche.poso_pedia_des}" if fiche.poso_pedia_des?
        %tr
          - unless fiche.arg_autre.blank?
            %th Autres
            %td= fiche.arg_autre

    - unless fiche.sources.blank?
      %hr
      %p
        %b Sources :
        = fiche.sources.map(&:name).join(', ')

    - if permitted_to? :update, :fiches
      -# put the contents of .validation div in a single line
      .validation
        %hr
        %p
          %b Etat de validation :
          = fiche.state.humanize
          - if fiche.state == "brouillon" && permitted_to?(:initialiser, :fiches)
            = link_to "=> Initialiser", initialiser_dci_fiche_path(fiche.dci, fiche), :method => :put
          - elsif fiche.state == "valide" && permitted_to?(:invalider, :fiches)
            = link_to "=> Invalider", invalider_dci_fiche_path(fiche.dci, fiche), :method => :put
          - elsif (fiche.state == "a_valider" || fiche.state == "en_attente") && permitted_to?(:valider, fiche)
            = link_to "=> Valider", valider_dci_fiche_path(fiche.dci, fiche), :method => :put

        - if fiche.validation_date? && fiche.state == 'valide'
          %p
            %b Date de dernière MAJ :
            = l(fiche.validation_date)
            - if permitted_to? :maj_date, :fiches
              = link_to("=> Mettre à jour", maj_date_dci_fiche_path(fiche.dci, fiche), :method => :put) unless fiche.validation_date == Time.now.to_date

        - if fiche.user_id?
          %p
            %b Fiche crée par :
            = "#{fiche.createur} (#{fiche.user.role})"

  -# see how to put the following ul into the .fiche div
  %ul.fiche_nav
    %li
      = link_to("Modifier cette fiche", edit_dci_fiche_path(fiche.dci, fiche)) if permitted_to? :update, fiche
    %li
      = link_to("Détruire cette fiche", [fiche.dci, fiche], {:confirm => 'Etes-vous sûr ?', :method => :delete}) if permitted_to? :destroy, fiche
