-if permitted_to? :read, fiche
  #fiche
    %h2
      = "#{fiche.distinction.name} : #{fiche.distinction_name}" if fiche.distinction_id?
      - if permitted_to? :update, :fiches
        = "(#{fiche.state.humanize})"
    - if fiche.validation_date?
      %p.validation_date
        = "(Informations validées il y a #{time_ago_in_words(fiche.validation_date)})"
    %p
      = "Décision : "
      = h fiche.decision.name rescue ""
    %p
      = "Suivi souhaité : "
      = h fiche.suivi rescue ""
    %p.alternatives
      - unless fiche.alternatives.blank?
        = "Alternatives : "
        %ul
        - fiche.alternatives.each do |a|
          - link = !a.commercial_names.blank? ? "#{a.name} (#{a.commercial_names})" : "#{a.name}"
          %li
            = link_to link, dci_path(a)
