-if permitted_to? :read, fiche
  #fiche
    %h2.float_left
      = "#{fiche.distinction.name} : #{fiche.distinction_name}" if fiche.distinction_id?

    %ul.fiche_nav
      %li
        = link_to("Modifier", edit_dci_fiche_path(fiche.dci, fiche)) if permitted_to? :edit, fiche
      %li
        = link_to("Détruire", [fiche.dci, fiche], {:confirm => 'Etes-vous sûr ?', :method => :delete}) if permitted_to? :destroy, fiche

    .clear

    %p
      = "Décision : "
      %span[fiche.decision]= h fiche.decision.name rescue ""

    - unless fiche.conditions.blank?
      = textilize(fiche.conditions)

    - unless fiche.surveillance.blank?
      = textilize(fiche.conditions)

    - unless fiche.ei.blank?
      = textilize(fiche.ei)

    - if fiche.suivi == "oui"
      %p= "Un suivi sera réalisé par le CRPV, il est donc impératif de demander les coordonnées du demandeur."

    - unless fiche.alternatives.blank?
      %p.alternatives
        = "Alternatives : "
        %ul
        - fiche.alternatives.each do |a|
          - link = !a.commercial_names.blank? ? "#{a.name} (#{a.commercial_names})" : "#{a.name}"
          %li
            = link_to link, dci_path(a)

    %h3 Argumentaire
    #argumentaire
      %dl
      - unless fiche.biodisponibilite.blank?
        %dt Biodisponibilité
        %dd fiche.biodisponibilite
      - unless fiche.dose_ingeree.blank?
        %dt Dose ingérée par le bébé
        %dd= "#{fiche.dose_ingeree} de la #{fiche.dose_ingeree_par_rapport}"
      - unless fiche.liaison_pp.blank?
        %dt Liaison aux protéines plasmatiques
        %dd= fiche.liaison_pp
      - unless fiche.vol_dist.blank?
        %dt Volume de distribution
        %dd= fiche.vol_dist
      - unless fiche.tmax.blank?
        %dt Tmax
        %dd= fiche.tmax
      - unless fiche.thalf.blank?
        %dt T1/2
        %dd= fiche.thalf
      - unless fiche.pm.blank?
        %dt Poids moléculaire
        %dd= fiche.pm
      - unless fiche.passage_lait.blank?
        %dt Passage dans le lait
        %dd= fiche.passage_lait
      - unless fiche.rapport_lp.blank?
        %dt Rapport Lait/Plasma
        %dd= fiche.rapport_lp

    .clear

    - if fiche.poso_pedia?
      %p
        %b= "Posologie pediatrique a partir de #{fiche.poso_pedia_des}"
    - if fiche.metabolites_actifs?
      %p
        %b Présence de métabolites actifs
    - if fiche.risque_accumulation?
      %p
        %b Risque d'accumulation dans le lait
    - if fiche.risque_dim_lactation?
      %p
        %b Risque de diminution de la lactation
    - unless fiche.arg_autre.blank?
      %p
        %b= "Autre : #{fiche.arg_autre}"

    .clear

    %hr

    - if permitted_to? :update, :fiches
      #validation
        %dl
          %dt Etat de validation
          %dd
            = fiche.state.humanize
            %span
              = " => "
              - if fiche.state == "brouillon" && permitted_to?(:initialiser, :fiches)
                = link_to "Initialiser", initialiser_dci_fiche_path(fiche.dci, fiche), :method => :put
              - elsif fiche.state == "valide" && permitted_to?(:invalider, :fiches)
                = link_to "Invalider", invalider_dci_fiche_path(fiche.dci, fiche), :method => :put
              - elsif (fiche.state == "a_valider" || fiche.state == "en_attente") && permitted_to?(:valider, fiche)
                = link_to "Valider", valider_dci_fiche_path(fiche.dci, fiche), :method => :put

        .clear
        - if fiche.validation_date? && fiche.state == 'valide'
          %dl
            %dt Date de dernière MAJ
            %dd
              = l(fiche.validation_date)
              = " => #{link_to("Mettre à jour", maj_date_dci_fiche_path(fiche.dci, fiche), :method => :put)}" unless fiche.validation_date == Time.now.to_date
        - unless fiche.sources.blank?
          %dl
            %dt Sources
            %dd
              = fiche.sources.map(&:name).join(', ')

      .clear
