- if can?(:read, fiche)
  %div{:class => ["fiche", (fiche.state == "valide") ? "valide" : "non_valide"]}
    - fiche_header(fiche)

    .resume
      %h3 Résumé

      - unless fiche.passage_lait.blank?
        %h4.inline Passage dans le lait :
        %p.inline= fiche.passage_lait

      - if fiche.risque_accumulation?
        %h4 Risque d'accumulation dans le lait
      - if fiche.risque_dim_lactation?
        %p.retrait
          %b Risque théorique de diminution de la lactation

      %h4 Recul :
      = raw textilize fiche.ei
      - if fiche.ei_theoriques?
        %p.retrait
          %b Risque théorique :
        .retrait= raw textilize fiche.ei_theoriques

      - if fiche.conditions?
        %h4 Allaitement possible si :
        = raw textilize fiche.conditions

      - if fiche.surveillance?
        %h4 Surveillance :
        = raw textilize fiche.surveillance
        %p.surveillance
          La poursuite du traitement ou de l'allaitement doit être reconsidérée et le CRPV prévenu si l'un des troubles cités est observé

      - unless fiche.alternatives.blank?
        %h4 Alternatives :
        %ul.inline
          - fiche.alternatives.each do |a|
            - link = !a.commercial_names.blank? ? "#{a.name} (#{a.commercial_names})" : "#{a.name}"
            %li
              = link_to link, dci_path(a)

      .clear
      - unless fiche.arg_autre.blank?
        %h4 Autres argumentaires :
        = raw textilize fiche.arg_autre

      - if fiche.suivi == "oui"
        %h4.inline.alert Attention :
        %p.inline.alert
          pour cette molécule un suivi sera réalisé par le CRPV, il est donc impératif de demander les coordonnées du demandeur ou
          %u mieux de la patiente concernée.

    %p= link_to_toggle_div "Montrer/Cacher les informations détaillées",
      "argumentaire_#{fiche.id}"

    .argumentaire{:id => "argumentaire_#{fiche.id}", :style => "display: none;"}
      %h3 Données détaillées
      %table
        %tr
          - unless fiche.biodisponibilite.blank?
            %th Biodisponibilité
            %td= fiche.biodisponibilite
          - unless fiche.vol_dist.blank?
            %th Vd
            %td= fiche.vol_dist
          - unless fiche.liaison_pp.blank?
            %th Liaison aux PP
            %td= fiche.liaison_pp
          - unless fiche.thalf.blank?
            %th T1/2
            %td= fiche.thalf
        %tr
          - unless fiche.metabolites_actifs.blank?
            %th Métabolites actifs
            %td= fiche.metabolites_actifs? ? "Oui" : "Non"
          - unless fiche.rapport_lp.blank?
            %th Rapport lait/plasma
            %td= fiche.rapport_lp
          - unless fiche.pic_lacte.blank?
            %th Pic lacté
            %td= fiche.pic_lacte
        %tr
          - unless fiche.dose_par_rapport_dmap.blank? && fiche.dose_par_rapport_dp.blank?
            %th Dose estimée ingérée par l'enfant
            %td
              %ul.plain
                %li= "#{fiche.dose_par_rapport_dmap} de la DMAP" if fiche.dose_par_rapport_dmap?
                - if fiche.dose_par_rapport_dp?
                  %li= "#{fiche.dose_par_rapport_dp} de la posologie pédiatrique"
          - unless fiche.poso_pedia_dose.blank? and fiche.poso_pedia_des.blank?
            %th Posologie pédiatrique
            %td
              = fiche.poso_pedia_dose
              = "à partir de #{fiche.poso_pedia_des}" if fiche.poso_pedia_des?

    - unless fiche.sources.empty? && fiche.articles.blank?
      %p= link_to_toggle_div "Montrer/Cacher les sources", "sources_#{fiche.id}"

      .sources{:id => "sources_#{fiche.id}", :style => "display: none;"}
        - unless fiche.sources.empty?
          %h4 Sources :
          .retrait
            = fiche.sources.map(&:name).join(', ')
        - unless fiche.articles.blank?
          %h4 Articles :
          .retrait
            = raw textilize fiche.articles

    .fiche_footer
      - if can? :create, Fiche
        .validation
          %table{:style => "width:100%;"}
            %tr
              %td
                %b Etat de validation :
                %span{:class => "#{fiche.state}"}= fiche.state.humanize
                = form_for [fiche.dci, fiche], :html => {:class => "state_form"} do |f|
                  = f.label "=> "
                  = f.collection_select :state_event,
                    fiche.state_transitions, :event, :human_to_name, {},
                    { :style => "display: none;"}
                  = f.submit fiche.state_transitions.first.event.to_s.humanize

              - unless fiche.published_at.nil?
                %td
                  %b Dernière MAJ :
                  = l(fiche.published_at)
                  %br/
                  - if fiche.expired?
                    %b Fiche expirée !
                    - if can?(:edit, Fiche)
                      = form_for [fiche.dci, fiche],
                        :html => {:class => "state_form"} do |f|
                        = f.label "=> "
                        = f.select :published_at_event,
                          [["published", "publish"]], {},
                          {:style => "display:none;"}
                        = f.submit "Revalider"
                  %b À revalider le :
                  = l(fiche.revalider_le)

              - if fiche.user_id?
                %td
                  %b Fiche crée par :
                  = "#{fiche.createur} (#{fiche.user.role})"

      .clear

      %ul.edit_actions.inline
        %li= link_to("Modifier cette fiche",
          edit_dci_fiche_path(fiche.dci, fiche)) if can? :update, fiche
        %li= link_to("Détruire cette fiche", [fiche.dci, fiche],
          {:confirm => 'Etes-vous sûr ?', :method => :delete}) if can? :destroy, fiche

      .clear
