-#encoding: utf-8
- semantic_form_for([@fiche.dci, @fiche]) do |f|
  - if permitted_to? :read, :users
    - f.inputs do
      = f.input :user, :label => "Créateur"
  -# remettre ça pour créer des sources
    - f.semantic_fields_for :sources do |builder|
      - builder.inputs do
        = render 'source_fields', :f => builder
      %p.add_fields= link_to_add_fields "Rajouter une source", f, :sources
  - f.inputs do
    = f.input :sources, :hint => "ce champs est à choix multiple (maintenir enfoncé la touche Ctrl)"
  - f.inputs do
    %li.select
      = f.label :revalider_le, "Informations à revalider dans"
      = f.select(:revalider_le, [['3 mois', 3.months.from_now.to_date], ['6 mois', 6.months.from_now.to_date], ['1 an', 1.year.from_now.to_date]])
    = f.input :distinction, :label => "Sous-type fiche"
    = f.input :distinction_name, :as => :string, :label => "Libéllé distinction"
    %h4 Informations sur la décision, surveillance, alternatives
    = f.input :de_choix, :label => "Molécule de choix pour l'allaitement ?"
    = f.input :decision
    = f.input :conditions, :input_html => {:rows => "2x50"}
    = f.input :surveillance, :input_html => {:rows => "2x50"}
    %li.textfield.optional#fiche_alternative_names_input
      = f.label :alternative_names, "Alternatives"
      = f.text_field :alternative_names, :size => "50"
    %li.select.optional#fiche_suivi_input
      = f.label :suivi, "Suivi"
      = f.select(:suivi, Fiche::SUIVIS, {:include_blank => true})
    %h4 EI observés ou théoriques
    = f.input :ei, :label => "Suivis publiés", :input_html => {:rows => "4x50"}, :hint => "indiquer le nombre et le type d'EI observés (ou absent) sur le nombre approximatif de suivis publiés"
    = f.input :ei_theoriques, :label => "EI théoriques", :input_html => {:rows => "4x50"}
    %li.select.optional#fiche_passage_lait_input
      = f.label :passage_lait, "Passage dans le lait"
      = f.select(:passage_lait, Fiche::PASSAGE, {:include_blank => true})
    = f.input :risque_accumulation, :label => "Risque d'accumulation dans le lait"
    = f.input :risque_dim_lactation, :label => "Risque théorique de diminution de la lactation"
    %h4 Dose ingérée par le BB par rapport à :
    = f.input :dose_par_rapport_dmap, :label => "dose maternelle au poids"
    = f.input :dose_par_rapport_dp, :label => "dose pédiatrique"
    %h4 Données pharmacologiques
    = f.input :biodisponibilite, :label => "Biodisponibilité par voie orale"
    = f.input :metabolites_actifs, :label => "Présence de métabolites actifs"
    = f.input :liaison_pp, :label => "Liaison aux protéines plasmatiques"
    = f.input :vol_dist, :label => "Volume de distribution"
    = f.input :thalf, :label => "T1/2"
    = f.input :pic_lacte, :label => "Pic lacté"
    = f.input :rapport_lp, :label => "Rapport Lait/Plasma"
    %h4 Existe-t-il une posologie pédiatrique ?
    = f.input :has_poso_pedia, :label => "Oui"
    = f.input :poso_pedia_dose, :label => "laquelle ?"
    = f.input :poso_pedia_des, :label => "à partir de"
    %h4 Autres argumentaires
    = f.input :arg_autre, :label => "Autres", :input_html => {:rows => "2x50"}
    %h4 Commentaire générale sur la fiche
    = f.input :commentaire, :hint => "attention le commentaire n'apparait pas dans la page de visualisation de la fiche",:input_html => {:rows => "3x50"}
    = f.commit_button "Enregistrer"
