- title "Liste complète des fiches"

= search_form_for @search, html: {class: "form-inline"}, remote: true do |f|
  = f.label :state_eq, "filtrer par état de validation"
  = f.select :state_eq, Fiche::STATES, include_blank: true
  = f.submit "OK", class: "btn", name: nil

  - if @fiches.empty?
    %h3 Pas de résultats
  - else
    #fiches= render 'fiches'
