- title "Liste complète des fiches"

%h2 Filtrer par:
- form_for @search, :url => fiches_path, :html => {:method => :get} do |f|
  = f.label :state_is, "Etat de validation"
  = f.select :state_is, Fiche::STATES, :include_blank => true 
  = f.submit "OK"

- if !@fiches.empty?
  %table#fiches
    %thead
      %th DCI
      %th Distinction
      %th Validation
      %th Créateur
      %th Actions
    - @fiches.each do |fiche|
      %tr
        %td= h fiche.dci.name
        %td= h fiche.full_distinction
        %td= h fiche.state.humanize
        %td= h fiche.createur if fiche.user
        %td
          = link_to "Voir", [fiche.dci, fiche]
          |
          = link_to("Modifier", edit_dci_fiche_path(fiche.dci, fiche)) if can? :update, fiche
          |
          = link_to("Détruire", [fiche.dci, fiche], {:confirm => 'Etes-vous sûr ?', :method => :delete}) if can? :destroy, fiche
- else
  %h3 Pas de résultats
