- title "Fiches (#{@fiches.count})"

-#TODO add filters for authenticated users (by validation state)
- if @fiches.count > 0
  %table
    %tr
      %th= order @search, :by => :name, :as => "Nom"
      %th Décision
      %th= "Validation" if permitted_to? :update, :fiches
    = render :partial => @fiches
- else
  %h2 Aucune fiche n'a été trouvée
%p= link_to "Nouvelle fiche", new_fiche_path if permitted_to? :new, @fiche
%p= link_to "Accueil", root_path
