- title "Liste complète des fiches"

%h2 Filtrer par:
= search_form_for @q, html: { class: 'form-inline' } do |f|
  .form-group
    = f.label :state_eq, "Etat de validation"
    = f.select :state_eq, Fiche::STATES, include_blank: true, class: 'form-control'
  = f.submit "OK", class: 'btn btn-xs btn-primary'

- if @fiches.any?
  %table.table.table-striped
    %thead
      %tr
        %th.time= sort_link @q, :updated_at, "Dernière modif."
        %th= sort_link @q, 'dci_slug', "DCI"
        %th Distinction
        %th Validation
        %th Créateur
        %th &nbsp;
    %tbody
      - @fiches.each do |fiche|
        %tr
          %td.time= l fiche.updated_at.to_date
          %td= fiche.dci_name 
          %td= fiche.full_distinction
          %td{class: "#{fiche.state}"}= fiche.state.humanize
          %td= fiche.createur if fiche.user
          %td
            - actions_buttons(fiche)
  .pull-right
    = link_to "Exporter en fichier .csv",
      fiches_path(format: :csv, search: params[:q]), class: 'btn btn-warning'

- else
  %h3 Pas de résultats
