- title "Liste complète des fiches"

%h2 Filtrer par:
= search_form_for @q, html: { class: 'form-inline' } do |f|
  .form-group
    = f.label :state_eq, "Etat de validation"
    = f.select :state_eq, Fiche::STATES, include_blank: true, class: 'form-control'
  = f.submit "OK", class: 'btn btn-xs btn-primary'

- if @fiches.any?
  %table.table.table-striped
    %tbody
      - @fiches.each do |fiche|
        %tr
          %td
            = fiche.dci_name
            %small.text-muted= fiche.full_distinction
          %td
            .pull-right
              = actions_buttons(fiche, nil, false) do
                = link_to fa_icon('chevron-down'), "##{dom_id(fiche, :details)}",
                  'data-toggle': 'collapse', class: 'btn btn-sm btn-default'
        %tr.collapse{id: dom_id(fiche, :details)}
          %td.text-muted{colspan: 2}
            .pull-right
              #{l(fiche.updated_at.to_date)} -
              = label_for_state(fiche)
              = change_state_for(fiche, current_user)
              - if fiche.user
                %small (#{fiche.createur})
  .pull-right
    = link_to "Exporter en fichier .csv",
      fiches_path(format: :csv, search: params[:q]), class: 'btn btn-warning'

- else
  %h3 Aucune fiche dans la base.
