- title "Rechercher des fiches"

= search_form_for @search, url: search_path, html: {class: "form-horizontal"} do |f|
  .control-group
    = f.label :dci_slug_eq, "Par principe actif", class: "control-label"
    .controls
      = f.text_field :dci_slug_eq
  .control-group
    = f.label :dci_specialites_stripped_name_eq, "Par spécialité", class: "control-label"
    .controls= f.text_field :dci_specialites_stripped_name_eq
  .form-actions
    = f.submit 'OK', class: "btn"

- if params[:q]
  - if @fiches.empty?
    - unfructuous_search
  - else
    %h2= pluralize(@fiches.size, "résultat")
    %table#list
      %tbody
        - @fiches.each do |fiche|
          %tr
            %td= link_to "#{h(fiche.dci_name.humanize)} #{fiche.full_distinction}", [fiche.dci, fiche]
