- title "Rechercher des fiches"

= search_form_for @q , url: { action: 'search' },
  html: { class: 'form-inline fiches-search' } do |f|
  .form-group
    = f.label :dci_name_start, 'Par principe actif :', class: 'sr-only'
    = f.search_field :dci_name_start, class: 'form-control',
      placeholder: 'par principe actif', autofocus: true
  = f.submit 'OK', class: 'btn btn-primary'

= search_form_for @q , url: { action: 'search' },
  html: { class: 'form-inline fiches-search' } do |f|
  .form-group
    = f.label :dci_specialites_name_start, 'Par spécialité :', class: 'sr-only'
    = f.search_field :dci_specialites_name_start, class: 'form-control',
      placeholder: 'par spécialité'
  = f.submit 'OK', class: 'btn btn-primary'

- if params[:q]
  - if @fiches.empty?
    - unfructuous_search
  - else
    %h2= pluralize(@fiches.size, "résultat")
    %table#list
      %tbody
        - @fiches.each do |fiche|
          %tr
            %td= link_to "#{h(fiche.dci_name.humanize)} #{fiche.full_distinction}", [fiche.dci, fiche]
