- title "Rechercher des fiches"

= search_form_for @q , url: { action: "search" } do |f|
  = f.label :dci_stripped_name_start, "Par principe actif"
  = f.search_field :dci_stripped_name_start

  %br

  = f.label :dci_specialites_stripped_name_start, "Par spécialité"
  = f.search_field :dci_specialites_stripped_name_start

  = f.submit 'OK'

- if params[:q]
  - if @fiches.empty?
    - unfructuous_search
  - else
    %h2= pluralize(@fiches.size, "résultat")
    %table#list
      %tbody
        - @fiches.each do |fiche|
          %tr
            %td= link_to "#{h(fiche.dci_name.humanize)} #{fiche.full_distinction}", [fiche.dci, fiche]
