- title "Rechercher des fiches"

= search_form_for @search, url: search_path, html: {class: "form-horizontal"} do |f|
  .control-group
    = f.label :dci_name_eq, "Par principe actif", class: "control-label"
    .controls
      = f.text_field :dci_name_eq, data: {provide: "typeahead"}, autocomplete: "off"
  .control-group
    = f.label :dci_specialites_name_eq, "Par spécialité", class: "control-label"
    .controls= f.text_field :dci_specialites_name_eq, data: {provide: "typeahead"}, autocomplete: "off"
  .form-actions
    = f.submit 'OK', class: "btn"

- if params[:q]
  - if @fiches.empty?
    - unfructuous_search
  - else
    %h2= pluralize(@fiches.size, "résultat")
    %table.table.table-condensed.table-striped
      %tbody
        - @fiches.each do |fiche|
          %tr
            %td= link_to "#{h(fiche.dci_name.humanize)} #{fiche.full_distinction}", [fiche.dci, fiche]
