- title "Rechercher des fiches"

- semantic_form_for @search , :url => { :action => "search" } do |f|
  - f.inputs do
    = f.input :dci_stripped_name_like, :label => "Par principe actif"
    = f.input :dci_specialites_stripped_name_like, :label => "Par spécialité"
    = f.commit_button 'OK'

- if params[:search]
  - if @fiches.empty?
    %h2 Aucun résultat
  - else
    %h2= pluralize(@fiches.size, "résultat")
    %table#list
      %tbody
        - @fiches.each do |fiche|
          %tr
            %td= link_to h(fiche.dci_name), dci_path(fiche.dci)
            %td= fiche.full_distinction
