- title "Rechercher des fiches"

= search_form_for @q , url: { action: 'search' },
  html: { class: 'form-inline fiches-search', id: 'fiche_dcis_search' } do |f|
  .form-group
    = f.label :dci_name_start, 'Par principe actif :', class: 'sr-only'
    = f.search_field :dci_name_start, class: 'form-control',
      placeholder: 'par principe actif', autofocus: true
  = f.submit 'OK', class: 'btn btn-primary'

= search_form_for @q , url: { action: 'search' },
  html: { class: 'form-inline fiches-search', id: 'fiche_specialites_search' } do |f|
  .form-group
    = f.label :dci_specialites_name_start, 'Par spécialité :', class: 'sr-only'
    = f.search_field :dci_specialites_name_start, class: 'form-control',
      placeholder: 'par spécialité'
  = f.submit 'OK', class: 'btn btn-primary'

- if params[:q]
  - if @fiches.empty?
    = unfructuous_search
  - else
    %h2 Résultats de la récherche
    %table.table.table-striped#search-results
      %tbody
        - @fiches.each do |fiche|
          - next unless can?(:read, fiche)
          %tr
            %td
              = link_to fiche.dci_name.humanize, [fiche.dci, fiche]
              %label.label.label-info= fiche.full_distinction
