- title "#{@dci.name.humanize}"
- unless @fiche.distinction_type.blank?
  %h2= "(#{@fiche.distinction_type} : #{@fiche.distinction})"

%table.fiche_actions
  %tr
    %td
      - if permitted_to? :edit, @fiche
        - link_to edit_dci_fiche_path(@fiche.dci, @fiche) do
          %img{:src => "/images/Edit.png", :width => "32", :alt => "Modifier"}
    %td
      - if permitted_to? :destroy, @fiche
        - link_to([@fiche.dci, @fiche], {:confirm => 'Etes-vous sûr ?', :method => :delete}) do
          %img{:src => "/images/Delete.png", :width => "32", :alt => "Détruire"}
  %tr
    %td
      %small="Modifier" if permitted_to? :edit, @fiche
    %td
      %small="Détruire" if permitted_to? :destroy, @fiche

%hr

- validation_state_and_actions

%hr

%table.fiche_details
  %tr
    %th Décision :
    %td= " #{@fiche.decision.name}" rescue " A renseigner"

  %tr
    %th Suivi souhaité :
    %td= " #{@fiche.suivi}" rescue " A renseigner"

  %tr
    %th Conditions :
    %td= " #{@fiche.conditions}" rescue " A renseigner"

  %tr
    %th Surveiller :
    %td= " #{@fiche.surveillance}" rescue " A renseigner"

  - unless @fiche.alternatives.blank?
    %tr.alternatives
      %th Alternatives :
      %td
        %ul
        - @fiche.alternatives.each do |a|
          - link = !a.commercial_names.blank? ? "#{a.name} (#{a.commercial_names})" : "#{a.name}"
          %li
            = link_to link, dci_path(a)

  - if permitted_to?(:initialiser, :fiches)
    %tr
      %th Commentaire :
      %td.comment
        = @fiche.try(:commentaire)

%hr
#nav_bar
  %p
    = link_to "Toutes les fiches pour #{@fiche.dci.name}", dci_path(@fiche.dci)
    |
    = link_to "Accueil", root_path

