%h1= link_to @dci.name.humanize, @dci

%h2= "(#{@dci.commercial_names})" unless @dci.commercial_names.blank?

%h2= "Classes thérapeutiques : #{@dci.classes_therapeutiques}" unless @dci.classes_therapeutiques.blank?

= render :partial => "fiche"
