- title "#{@dci.name.humanize} dans l'#{@fiche.distinction_type} : #{@fiche.distinction}"

#fiche_actions
  #modify
    %table
      %tr
        %td
          - if permitted_to? :edit, @fiche
            - link_to edit_dci_fiche_path(@fiche.dci, @fiche) do
              %img{:src => "/images/Edit.png", :width => "32", :alt => "Modifier"}
        %td
          - if permitted_to? :destroy, @fiche
            - link_to([@fiche.dci, @fiche], {:confirm => 'Etes-vous sûr ?', :method => :delete}) do
              %img{:src => "/images/Delete.png", :width => "32", :alt => "Détruire"}
      %tr
        %td
          %small="Modifier" if permitted_to? :edit, @fiche
        %td
          %small="Détruire" if permitted_to? :destroy, @fiche

- validation_state_and_actions

%p
  %strong Décision :
  = " #{@fiche.decision.name}" rescue " A renseigner"

- if permitted_to?(:initialiser, :fiches)
  .comment
    %strong Commentaire :
    = @fiche.try(:commentaire)


#nav_bar
  %p
    = link_to "Accueil", root_path
