!!!
%html{lang: 'fr'}
  %head
    %title
      GalacSI -
      = yield(:title)
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:head)

  %body
    %header
      = render 'nav'

    .container
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{class: "alert alert-#{name == "notice" ? "success" : "danger"}"}
            = button_tag '&times;'.html_safe, class: 'close',
              'aria-hidden' => 'true',
              'data-dismiss' => 'alert',
              type: 'button'
            = content_tag :div, msg, id: "flash_#{name}"
      .row
        .col-sm-8.main

          %h1
            = yield(:title)
            %small=yield(:subtitle)

          = yield

        .col-sm-3.col-sm-offset-1.sidebar
          .sidebar-module
            - if @dcis_with_recent_fiches.any?
              = render 'news',
                dcis_with_recent_fiches: @dcis_with_recent_fiches

          .sidebar-module.sidebar-module-inset
            %p Vous n'avez pas trouvé ce que vous cherchiez ?
            %p= link_to 'Demander une création', new_demande_path

          .sidebar-module
            = render 'verif_fiches', expired_fiches: @expired_fiches

    %footer.page-footer
      = render 'footer'
