!!! 5
%html
  %head
    %title= yield(:title) || "Untitled"
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = render 'layouts/anylinkcssmenu_script'

    = yield(:head)

  %body
    %header
      #header
        %h1= link_to "GalacSI", root_path
        = render 'layouts/navmenu', :pages => @pages_without_home

    %section
      #content
        #left
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

          %h1= yield(:title) if show_title?

          = yield

        #right
          .box
            - user_navlinks
          = render 'layouts/news', :dcis_with_recent_fiches => @dcis_with_recent_fiches if @dcis_with_recent_fiches.any?
          = render 'layouts/verif_fiches', :expired_fiches => @expired_fiches

          .box
            %p Vous n'avez pas trouvé ce que vous cherchiez ?
            %p= link_to "Demander une création", new_demande_path

    = render 'layouts/footer'
