!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= h(yield(:title) || "Untitled")
    = render 'shared/stylesheets'
    = javascript_include_tag :defaults
    = javascript_include_tag 'application', 'jquery.selectboxes.min'
    = render 'shared/anylinkcssmenu'

    = yield(:head)

  %body
    #header
      %h1= link_to "GalacSI", root_path
      = render :partial => 'shared/navmenu'

    #content
      #left
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        %h1=h yield(:title) if show_title?

        = yield
      #right
        .box
          - user_navlinks
        = render :partial => 'shared/news' unless Dci.with_recent_fiches.empty?
        .box
          %p Vous n'avez pas trouvé ce que vous cherchiez ?
          %p= link_to "Demander une création", new_demande_path
        .box
          Design by
          = link_to "Minimalistic Design", "http://www.minimalistic-design.net"
