!!!
%html{lang: 'fr'}
  %head
    %title
      GalacSI -
      = yield(:title)
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = render 'layouts/anylinkcssmenu_script'

    = yield(:head)

  %body
    %header
      = render 'nav'

    .container
      .row
        .col-sm-8.main
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

          %h1= yield(:title) if show_title?

          = yield

        .col-sm-3.col-sm-offset-1.sidebar
          .sidebar-module
            - user_navlinks
          .sidebar-module
            - if @dcis_with_recent_fiches.any?
              = render 'layouts/news',
                dcis_with_recent_fiches: @dcis_with_recent_fiches
            = render 'layouts/verif_fiches', expired_fiches: @expired_fiches

          .sidebar-module
            %p Vous n'avez pas trouvé ce que vous cherchiez ?
            %p= link_to "Demander une création", new_demande_path

    = render 'layouts/footer'
