!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= h(yield(:title) || "Untitled")
    %script{:type => "text/javascript", :charset => "UTF-8",
            :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag "formtastic"
    = stylesheet_link_tag "formtastic_changes"
    = stylesheet_link_tag "anylinkcssmenu"
    %script{:type => "text/javascript",
            :src => "/javascripts/anylinkcssmenu.js"}
      /***********************************************
      * AnyLink CSS Menu script v2.0- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * This notice MUST stay intact for legal use
      * Visit Project Page at http://www.dynamicdrive.com/dynamicindex1/anylinkcss.htm for full source code
      ***********************************************/

    %script{:type => "text/javascript"}
      //anylinkcssmenu.init("menu_anchors_class") ////Pass in the CSS class of anchor links (that contain a sub menu)
      anylinkcssmenu.init("anchorclass")

    = yield(:head)
  %body
    #header
      %h1= link_to "GalacSI", root_path
      #menu
        %ul#nav
          %li
            = link_to "DCI", dcis_path
            - if can? :create, Dci
              %span.add_record= link_to "+", new_dci_path
          - if can? :create, Fiche
            %li= link_to "Fiches", fiches_path
          %li
            = link_to "Classes", classe_therapeutiques_path
            - if can? :create, ClasseTherapeutique
              %span.add_record= link_to "+", new_classe_therapeutique_path
          %li
            = link_to "Spécialités", specialites_path
          - if can? :read, User
            %li
              %a{:href => "/admin", :class => "anchorclass",
                  :rel => "submenu1"} Admin

            .anylinkcss#submenu1
              %ul
                %li= link_to "Décisions", decisions_path
                %li= link_to "Distinctions", distinctions_path
                %li= link_to "Utilisateurs", users_path
                %li= link_to "Sources", sources_path


    #content
      #left
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        - if show_title?
          %h1=h yield(:title)
        = yield
      #right
        .box
          - user_navlinks
        .box.news
          %p
            %b Dernières MAJ :
            %ul
              - Dci.with_recent_fiches.limit(5).uniq.each do |dci|
                - if can?(:show, dci)
                  %li
                    = link_to dci.name, dci_path(dci)
                    - if (dci.fiches.recent.size > 1 && can?(:create, Fiche)) or dci.fiches.valide.recent.size > 1
                      %ul
                        - dci.fiches.recent.each do |fiche|
                          - unless fiche.distinction.nil?
                            - if can?(:read, fiche)
                              %li= link_to "#{fiche.distinction.name} : #{fiche.distinction_name}", dci_fiche_path(fiche.dci, fiche)

        .box
          Design by
          = link_to "Minimalistic Design", "http://www.minimalistic-design.net"
