!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= h(yield(:title) || "Untitled")
    = render 'layouts/stylesheets'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.custom.min', 'jrails', 'application', 'jquery.selectboxes.min'
    = render 'layouts/anylinkcssmenu_script'

    = yield(:head)

  %body
    #header
      %h1= link_to "GalacSI", root_path
      = render 'layouts/navmenu'

    #content
      #left
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        %h1=h yield(:title) if show_title?

        = yield
      #right
        .box
          - user_navlinks
        = render 'layouts/news' unless Dci.with_recent_fiches.empty?
        = render 'layouts/verif_fiches'
        .box
          %p Vous n'avez pas trouvé ce que vous cherchiez ?
          %p= link_to "Demander une création", new_demande_path

    = render 'layouts/footer'
