!!! 5
%html
  %head
    %title= yield(:title) || "Untitled"
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    = csrf_meta_tag
    = render 'shared/stylesheets'
    = javascript_include_tag :defaults, 'jquery.selectboxes.min'
    = render 'shared/anylinkcssmenu'

    = yield(:head)

  %body
    %header
      #header
        %h1= link_to "GalacSI", root_path
        = render :partial => 'shared/navmenu'


    %section
      #content
        #left
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          %h1=h yield(:title) if show_title?

          = yield

        #right
          .box
            - user_navlinks
          = render :partial => 'shared/news' unless Dci.with_recent_fiches.empty?
          .box
            %p Vous ne trouvez pas ?
            %p= link_to "Demander une création", new_demande_path

    = render 'shared/footer'
