!!! 5
%html
  %head
    %title= yield(:title) || "Untitled"
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.selectboxes.min'
    = render 'layouts/anylinkcssmenu_script'

    = yield(:head)

  %body
    %header
      #header
        %h1= link_to "GalacSI", root_path
        = render 'layouts/navmenu'

    %section
      #content
        #left
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

          %h1= yield(:title) if show_title?

          = yield

        #right
          .box
            - user_navlinks
          = render 'layouts/news' unless Dci.with_recent_fiches.empty?
          = render 'layouts/verif_fiches'

          .box
            %p Vous n'avez pas trouvé ce que vous cherchiez ?
            %p= link_to "Demander une création", new_demande_path

    = render 'layouts/footer'
